.container {
	@apply w-full flex flex-col gap-7 sm:px-6 px-4 pb-4 border-r border-[#dee0e1] 
	dark:border-[#393839];
}
.tnc {
	@apply text-[#939598] text-[12px] sm:text-[13px];
}
.options {
	@apply flex flex-col gap-2;
}
.option {
	@apply flex gap-3 border p-2 items-center hover:bg-black/5 dark:border-[#393839] dark:bg-[#181818];
}
.option svg {
	height: 28px;
	width: 28px;
}
.option p {
	@apply sm:text-[14px] text-[13px];
}
.btn {
	@apply hover:bg-black/5 font-medium text-[13px] py-2 rounded-full dark:hover:bg-[rgba(255,255,255,0.04)];
}
