@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
}
body {
	font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",
		Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-size: calc(15px);
	line-height: 1.4;
	/* color: rgb(213, 214, 214);*/
	direction: ltr;
	color: #282829;
	@apply dark:text-[rgb(213,214,214)];
}
